.product-card {
    border: 1px solid #000;
    padding: 8px;
    max-width: 200px;
}

img {
    width: 100px;
    height: 100px;
}

.info {
    padding: 4px;
}

h3 {
    margin: 8px 0;
}

.precio {
    font-weight: bold;
}

button {
    width: 100%;
    padding: 8px;
}